# Build Folders
bin/
obj/

# User-Specific Files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/
*.code-workspace

# Rider
.idea/

# Logs
*.log

# Temporary Files
*.cache
.cache/
*.tmp
*.temp

# Dependency Directories
node_modules/
packages/

# Configuration Files
appsettings.*.json
secrets.json

# OS-Specific Files
.DS_Store
Thumbs.db

# Solution Files
*.sln.ide
/RentACar.sln
